
<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="cendiv">
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]=" {'is-invalid': this.loginForm.controls.email.invalid && this.loginForm.controls.email.dirty}"
      />
      <div *ngIf="f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': f['password'].dirty && f['password'].errors }"
      />
      <div *ngIf=" f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Password must not exceed 20 characters
        </div>
      </div>
    </div>
    <div style="justify-content: center;align-items: center;" class="form-group">
      <button  type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary">Register</button>
    </div>
  </div>
  </form>
</div>