
<div class="search-bar">
  <input matInput mat-dialog-title  type="text" placeholder="Search coins" [(ngModel)]="searchTerm"
       (keyup)="filterCoins()" [matMenuTriggerFor]="suggestions">
  <mat-menu #suggestions="matMenu"  class="menu-content">
    <ng-template matMenuContent>
      <mat-list mat-dialog-content role="list">
        <mat-list-item *ngFor="let coin of filteredCoins" (click)="selectCoin(coin)">
          {{ coin.name }} {{coin.symbol}}
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-menu>
</div>



 <!-- <div class="search-bar">
  <input type="text" placeholder="Search coins" [(ngModel)]="searchTerm" (keyup)="filterCoins()" [matMenuTriggerFor]="suggestions">
  <mat-menu #suggestions="matMenu">
    <ng-template matMenuContent>
      <ul class="suggestions">
        <li *ngFor="let coin of filteredCoins" (click)="selectCoin(coin)">
          {{ coin.name }}
        </li>
      </ul>
    </ng-template>
  </mat-menu>
</div> -->