
.search-bar {
    width: 500px;
  }
  
  input[type=text] {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid gray;
    padding: 10px;
  }
  
  th {
    text-align: left;
  }
  
  