/* Mobile styles */
@media(max-width: 600px) {
    mat-form-field {
        width: fit-content;
    }
    mat-select{
        width:fit-content;
    }
    .left-container {
        width: 100%;
    }
    .right-container {
        width: 100%;
        margin-left: 0;
    }
    .card {
        margin-right: 0;
    }
}

/* Form field container */
mat-form-field {
    border: none !important;
    background-color: transparent !important;
    /* Add some padding */
    padding: 12px;
    /* Positioning */
    position: relative;
    /* Width */
    width: 20%;
}


/* The select element */
mat-select {
    box-shadow: none !important;
    padding: 0 !important;
    background-color: transparent !important;
    /* Basic styling */
    padding: 12px;
    background-color: #37b2e7;
    border: none;
    /* Width */
    width: 100%;
    /* Text styling */
    font-size: 16px;
    color: rgb(175, 29, 224);
}

/* The options */
mat-option {
    border: none !important;
    background-color: transparent !important;
    /* Basic styling */
    padding: 12px;
    background-color: #f1f1f1;
    /* Text styling */
    font-size: 16px;
    color: rgb(156, 235, 103);
}

/* Add hover effect for the options */
mat-option:hover {
    background-color: #ddd;
    cursor: pointer;
    //color: tomato;
}

/* Add a cachy design */
mat-form-field {
    /* Add background color */
    background: none;
    /* Add some border */
    border: 2px solid #ccc;
    /* Add some border radius */
    border-radius: 4px;
    /* Add some box shadow */
  //  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/* The container div */
.card-container {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.card {
    background-color: #f1f1f1;
    width:fit-content;
    text-align:start;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 15px;
    margin-right: 6%;
}
.container {
    display: flex;
    align-items: center;
}

.left-container {
    width: 60%;
}

.right-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

mat-form-field {
    padding: 10px;
}
.options {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.mat-button {
    padding: 10px;
    margin-left: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}

.tableDiv{
    display: flex;
    justify-content: center;
    margin-top: 5%;
 
}
table {
    border-collapse: collapse;
    width: 100%;
    /* Add some padding */
    padding: 12px;
    /* Add some border */
    border: 2px solid #ccc;
    /* Add some border radius */
    border-radius: 4px;
    /* Add some box shadow */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
   
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

td {
    font-size: 16px;
    color: #37b2e7;
}

/* Add hover effect for the table rows */
tr:hover {
    background-color: #ddd;
    cursor: pointer;
}


